/* буквы */
p {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 6px -1px;
  font-size: 30px;
}
.letters {
  margin: 0px 26px;
}

/* доска  */
ul {
  display: inline-block;
  padding-left: 0;
}
li {
  width: 100px;
  height: 100px;
}

.pad {
  margin-top: 0px;
  margin-bottom: 0px;
}

.row1,
.row2 {
  display: inline-block;
  border: 1px solid;
  margin-bottom: -4px;
  margin-left: -4px;
}
.row2 {
  background-color: #000;
}

/* цифры */
.numbers {
  display: inline;
  padding: 0px 6px;
  vertical-align: 40px;
  text-align: center;
}

/* Рамка */
.frame {
  border: 3px solid;
  float: left;
}
